.jumbotron{
    background-image: url("./images/julius-oj-0Y25HHnyVhg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

p{
    font-size: 50px;
}

li{
    list-style: none;
}

a{
    color: rgb(30, 41, 41);
    text-decoration: none;
}

a:hover{
    background-color: green;
    border:1px solid black;
}

h3{
    font-size: 20px;
}

#paleo{
    background-color:grey;
    height: 100px;
}